div#parte1 {
  width: 100%;
  height: 500px;
  background-color: violet;
}

div#parte2 {
  width: 100%;
  height: 500px;
  background-color: black;
}

div#parte3 {
  width: 100%;
  height: 500px;
  background-color: blue;
}

div#parte4 {
  width: 100%;
  height: 300px;
  background-color: brown;
}
body {
  margin: 0;
  box-sizing: border-box;
  height: 3000px;
}
nav{
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
nav .logo{
  color:#fff;
  float: left;
  display: block;
  padding: 14px 16px;
}
nav a{
  color:#fff;
  float: right;
  text-decoration: none;
  display: block;
  padding: 14px 16px;
}

nav a:hover{
  transition: 0.5s;
  background-color: #e4e4e4;
  color: #333
}